/* Reset styles */

html, body, div, span, h1, h2, h3, h4, h5, 
h6, p, a, i, ul, li, fieldset, form, label, 
article, aside, figcaption, footer, header, 
hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  font-family: 'Raleway', sans-serif;
}

ul {
	list-style: none;
}

/* Custom styles */

html {
	height: 100%;
}

body {
	margin: 0 auto;
	font-size: 16px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}
	
a {
	text-decoration: none;
	color: inherit;
}

a:hover {

}

a:focus {

}

a:visited {

}

div {}
	
#wrapper {

}

header {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	color: black;
	text-align: center;
	background-color: rgba(255,255,255,1);
}

div#logo-container {
	width: 200px;
	height: 46px;	
	padding: 10px;
	margin: 0 auto;
}

.logo {
	display: block;
	width: 200px;
	height: 50px;
	background: url("../images/Logo.png") no-repeat 0 0;
	background-size: contain;
	margin: 0 auto;
}

.no-svg .logo {
	display: block;
	width: 200px;
	height: 50px;
	background: url("../images/Logo.png") no-repeat 0 0;
	background-size: contain;
	margin: 0 auto;
}
	
div#menuIcon {
	position: absolute;
	font-size: 2em;
	color: black;
	padding: 15px 20px;
	cursor: pointer;
	width: auto;
	right: 0;
	top: 0;
}

nav {
	clear: both;
	background-color: rgba(255,255,255,1);
}

nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
	max-height: 0;
}

ul.expanded {
	max-height: 20em;
}

nav ul li {
	display: block;
	padding: 15px;
	text-align: center;
	text-transform: none;
}

nav li:last-child {
	border-bottom: none;
}

nav li a {
	font-size: 1.2em;
	color: black;
}
	
nav li a:hover {
	color: #d7d7d7;
}

nav li a:visited {
  color: black;  
}
	
/* Section styles */

section {
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 0 40px;
	margin: 0 auto;
}
	
section#hero {
	background: url('../images/tennis_legs_rocks_sea_small copy.jpg') no-repeat top center;
	background-size: cover;
	height: 100vh;
}

section#about, section#contact {
  padding-top: 3em;
}

div.content {
  margin-top: 3em;
}

section header {
	background-color: #fff;
	background-image: none;
	z-index: 0;
	position: relative;

	width: 100%;
	border: none;
	margin-top: 0;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: left;
	padding: 0 0 0.8em;
}

header h2 {
	font-size: 1.4em;
	color: gray;
}

section article {
	width: 100%;
	text-align: left;
}

section article p {
	margin-bottom: 1em;
}

article {

}

form {
	width: 100%;
}

input[type=text], 
input[type=email] {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
	padding: 15px;
	border: 1px solid #444444;
	font-size: 1em;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=submit] {
	margin-bottom: 20px;
	width: 100%;
	padding: 15px;
	border: 1px solid #444444;
	background-color: #444444;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: rgba(68,68,68,0.9);
}

textarea {
	margin-bottom: 20px;
	width: 100%;
	padding: 15px;
	border: 1px solid #444444;
	background-color: #fff;
	color: #444444;
	font-size: 1em;
	resize: none;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	border-color: #d7d7d7;
}

/* About images */

section#images {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #fff;
}

section#images h1 {
	background-color: #fff;
}

.image-container {
  overflow: hidden;
  margin: 0 auto;
}

.image {
	float: left;
	width: 33%;
	position: relative;
  display: inline-block;
  text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

figure {
  position: relative;
  padding: 5px;
  margin: 0;
}

figure figcaption {
	display: none;
}

section#calidad {
  padding-bottom: 5em;
}

/* Footer */

footer:before {
	clear: both;
}

footer {
	font-size: 0.8em;
	margin: 0;
	padding: 0px;
	color: #000;
	background-color: #fff;
}

footer .content {
	margin: 0 auto;
	padding: 0;
}

footer a {
	margin-left: 30px;
	color: #000;
}

footer a:visited {
	color: #000;
}

footer a:hover {
	color: #000;
}

footer .footer-bottom-container {
	text-align: center;
	margin: 0 auto;
	padding: 10px 10px;
	vertical-align: top;
}

/* Social Sharing */

.social-wrapper {
	padding: 3em 0;
	position: relative;
}

.social-wrapper::after {
	content: '';
	display: block;
	clear: both;
}

.social-wrapper span.label {
	display: block;
	float: left;
	text-transform: uppercase;
	margin-top: 1em;
	padding-right: 1em;
	font-size: 1.7em;
}

ul.social-share {
	display: block;
	text-align: center;
	float: none;
}

ul.social-share li {
	display: inline-block;
	margin: 0;
}

ul.social-share li a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 20px;
	margin: 0;
}

ul.social-share li a:visited {
	color: #000;
}

ul.social-share li a:hover {
	color: #a0a0a0;
}

@media screen and (min-width: 800px) {
  section#hero {
  	background: url('../images/tennis_legs_rocks_sea_small.jpg') no-repeat top left;
  	background-size: cover;
  	height: 100vh;
  }
  
	div#menuIcon {
		display: none;
	}
	
	nav {
		padding: 0;
	}
	
	nav ul {
		max-height: 20em;
	}
	
	nav ul li {
		display: inline-block;
		text-decoration: none;
		padding: 10px 10px;
		position: relative;
		text-transform: uppercase;
		font-size: 0.6em;
		letter-spacing: 0.1em;
		border-bottom: none;
	}
  
  div#wrapper {
    width: 90%;
    margin: 0 auto;
  }
  
  section#about, section#contact {
    padding-top: 5em;
  }
  
  section#contact {
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  div#wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  section#contact {
    max-width: 600px;
  }
}