/* Reset styles */

html, body, div, span, h1, h2, h3, h4, h5, 
h6, p, a, i, ul, li, fieldset, form, label, 
article, aside, figcaption, footer, header, 
hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

/* Custom styles */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #444444;
}

#wrapper {
	width: 100%;
	margin: 110px auto 0;
	max-width: 1200px;
}

/* Text */

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: bold; }
h2 { margin: 0 0 .5em 0; font-size: 1.6em; font-weight: bold; line-height: 1.1em; }
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight: bold; }
h4 { margin: 0 0 1.5em 0; font-size: 1em; font-weight: bold; }

p {
	margin: 0 0 1em 0;
	line-height: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	padding: 7px 0 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

/* Header */

header {
	z-index: 9999;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #d7d7d7;
}

.header-container {
	margin: 0;
	width: 100%;
}

.header-container::after {
	content: '';
	display: block;
	clear: both;
}

.top-menu {
	border-bottom: 1px solid #d7d7d7;
	padding: 0;
	text-align: right;
	margin: 0 auto 10px;
}

.language {
	padding-right: 1em;
	display: inline-block;
}

.language li {
	display: inline-block;
	float: left;
	margin: 5px 0 0 5px;
	font-size: 0.8em;
}

a.active {
	text-decoration: underline;
}

/* Nav */

nav {
	background-color: rgba(255,255,255,1);
	padding: 0;
	width: 100%;
}

nav::after {
	content: '';
	display: block;
	clear: both;
}

.topnav::after {
	content: '';
	display: block;
	clear: both;
}

.logo-container {
	width: 200px;
	height: 46px;	
	margin: 0 auto;
}

object {

}

.no-svg .logo {
	display: block;
	width: 200px;
	height: 46px;
	background: url("../images/Logo.png") no-repeat 0 0;
	background-size: contain;
	margin: 0 auto;
}

nav ul {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	float: none;
}

nav ul li {
	display: inline-block;
	margin: 0 0 0 5px;
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 10px 10px;
	position: relative;
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 0.1em;
}

/* Section All */

section {
	padding: 0 5px;
	margin: 0 auto;
	width: 90%;
}

section::after {
	content: '';
	display: block;
	clear: both;
}

section header {
	height: auto;
	background-color: #fff;
	background-image: none;
	z-index: 0;
	position: relative;
	top: auto;
	border: none;
	margin-top: 2em;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0 auto;
	border-bottom: 1px solid #d7d7d7;
	width: 75%;
	text-align: center;
	padding: 0 0 0.8em;
}

header h2 {
	font-size: 1.4em;
	color: gray;
}

/* Section hero */

section#hero {
	min-height: 200px;
}

img {
	width: 100%;
	height: auto;
}

/* Section manifesto */

section article {
	width: 100%;
	float: left;
	text-align: left;
}

section article p {
	margin-bottom: 3em;
}

/* Section composition */

ol.composition_list {
	list-style: decimal;
	padding-left: 20px;
}

ol.composition_list li {
	display: list-item;
	padding-top: 0.5em;
	line-height: 1.5em;
}

ul.stockist_list {
	text-align: center;
}

ul.stockist_list li {
	padding: 1em 2em;
}

/* Section about */

section#about {
	padding: 0px 10px;
	background-color: #fff;
}

section#about h1 {
	background-color: #fff;
}

section#about .content {
	min-height: 0;
	margin: 0 auto;
}

section#philosophy .content,
section#composition .content {
	margin-top: 8em;
	margin-bottom: 8em;
}

/* Social Sharing */

.social-wrapper {
	padding: 3em 0;
	position: relative;
}

.social-wrapper::after {
	content: '';
	display: block;
	clear: both;
}

.social-wrapper span.label {
	display: block;
	float: left;
	text-transform: uppercase;
	margin-top: 1em;
	padding-right: 1em;
	font-size: 1.7em;
}

ul.social-share {
	display: block;
	text-align: center;
	float: none;
}

ul.social-share li {
	display: inline-block;
	margin: 0;
}

ul.social-share li a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 20px;
	margin: 0;
}

ul.social-share li a:visited {
	color: #000;
}

ul.social-share li a:hover {
	color: #a0a0a0;
}

/* Section icons */

section#icons {
	padding-top: 2em;
	padding-bottom: 5em;
	background-color: #fff;
}

section#icons h1 {
	background-color: #fff;
}

section#icons .content {
	position: relative;
	text-align: center;
}

aside {
	padding: 10px 0;
	margin: 0 auto;
	width: 220px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
}

figure {
	padding: 0;
	margin: 0;
}

figure figcaption {
	display: none;
}

.image-icon:hover figcaption {

} 

figure.image-icon {
	width: 50px;
	height: 50px;
}

figure.healthy { background: url("../images/corazon_3.png") no-repeat center top; background-size: 50px 50px;}
figure.ecological { background: url("../images/sustainable.png") no-repeat center top;  background-size: 50px 50px;}
figure.handmade { background: url("../images/handmade_aguja.png") no-repeat center top;  background-size: 50px 50px;}
figure.vegan { background: url("../images/vaca_2.png") no-repeat center top;  background-size: 50px 50px;}

/* Contact form */

form {
	width: 100%;
}

input[type=text], 
input[type=email] {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
	padding: 15px;
	border: 1px solid #444444;
	font-size: 1em;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=submit] {
	margin-bottom: 20px;
	width: 100%;
	padding: 15px;
	border: 1px solid #444444;
	background-color: #444444;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: rgba(68,68,68,0.9);
}

textarea {
	margin-bottom: 20px;
	width: 100%;
	padding: 15px;
	border: 1px solid #444444;
	background-color: #fff;
	color: #444444;
	font-size: 1em;
	resize: none;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	border-color: #d7d7d7;
}

/* Footer */

footer {
	font-size: 0.8em;
	margin: 0;
	padding: 0px;
	color: #000;
	background-color: #fff;
	border-top: 1px solid #d7d7d7;
}

footer .content {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	border-right: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
}

footer a {
	margin-left: 30px;
	color: #000;
}

footer a:visited {
	color: #000;
}

footer a:hover {
	color: #000;
}

footer .footer-bottom-container {
	border-top: 1px solid #d7d7d7;
	margin-top: 0;
	padding: 10px 10px;
	vertical-align: top;
}

@media (min-width: 1024px) {

	#wrapper {
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
	}
	
	nav ul li a {
		display: inline-block;
		text-decoration: none;
		padding: 10px 20px;
		position: relative;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 0.1em;
	}
	
	header h1 {
		width: 45%;
	}
	
	p {
		margin: 0 auto;
		width: 65%;
	}

	aside {
		width: 350px;
	}
	
	figure.image-icon {
		padding-right: 2em;
	}
	
	figure figcaption {
		display: block;
		padding-top: 60px;
		width: 82px;
		text-align: center;
	}
	
	#form_container {
		margin: 0 auto;
		width: 50%;
	}
	
	section#philosophy .content {
		margin-top: 0;
	}
	
	article.left figure {
		float: left;
		width: 60%;
	}
	
	article.right figure {
		float: right;
		width: 60%;
	}
	
	article.right .content {
		float: left;
		width: 40%;
		margin-top: 0;
	}
	
	article.left .content,
	section#composition .content {
		float: right;
		width: 40%;
		margin-top: 0;
	}
	
	article::after {
		content: '';
		display: block;
		clear: both;
	}
	
	ol.composition_list {
		width: 65%;
		margin: 0 auto;
	}

}

@media (max-width: 1200px) {

}
