body {
	margin: 0;
	display: block;
	box-sizing: border-box;
	padding-top: 50px;
}

div {
	display: block;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.jumbotron {
	margin-bottom: 30px;
	text-align: center;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	margin: 0.67em 0;
	display: block;
}

p {
	display: block;
	margin: 0 0 10px;
}

.jumbotron p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}

.social {
	margin: 0;
	padding: 0;
}

.social ul {
	margin: 0;
	padding: 5px;
}

.social ul li {
	margin: 5px;
	list-style: none outside none;
	display: inline-block;
}

.social i {
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 22px;
	text-align: center;
	padding-top: 12px;
}

.social i:hover {
	color: #000;
	text-decoration: none;
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media screen and (min-width: 768px) {
	.container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
	}
	.jumbotron h1 {
		font-size: 63px;
	}
	.jumbotron {
	    padding-top: 48px;
	    padding-bottom: 48px;
	}
}